<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/loader.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./webfiori/tests/json</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Json Tests">
            <directory>./tests/webfiori/tests/json</directory>
        </testsuite>
    </testsuites>
</phpunit>