name: Build PHP 8.2

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }} 

    strategy: 
      fail-fast: true
      matrix: 
        os: [ ubuntu-latest ]
        php: [8.2]
            
    name: PHP${{matrix.php}} - ${{matrix.os}}
    
    steps: 
      - name: Clone Repo
        uses: actions/checkout@v1
      
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }} 
          extensions: mysqli, mbstring, sqlsrv
          tools: phpunit:9.5.20, composer
          
      - name: Shutdown Ubuntu MySQL
        run: sudo service mysql stop
         
      - name: Install Dependencies
        run: composer install --prefer-source --no-interaction --no-dev
      
      - name: Execute Tests
        run: phpunit
        
      - name: CodeCov
        uses: codecov/codecov-action@v1